$Cormorant:"Cormorant", serif;
$openSans: "Open Sans", sans-serif;

body{
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background-color: #1D2F30;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.header{
    background-color: #1D2F30;
    height: 60px;
    padding: 20px 0 20px;
    box-sizing: border-box;
    &__row{
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }
    &__logo{
        margin-right: 125px;
    }
    &__menu{
        margin-right: auto;
    }
}
.menu{
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    &__item + &__item{   
        margin-left: 64px;
    }
    &__link{
        color: #fff;
        text-decoration: none;
        transition: .3s;
        &:hover{
            color: #BAE249;
        }
        &:focus-visible{
            outline: 1px solid #83A440;
            outline-offset: 2px;
        }
        &:active{
            color: #688B05;
            border: none;
        }
    }
}
.button-none{
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
.search{
    display: flex;
    &__item:not(:last-child){
        margin-right: 64px;
    }
    &__item svg{
        display: block;
        width: 100%;
        height: 100%;
        transition: .3s;
        &:hover {
            stroke: #91AC46;
        }
        &:focus-visible{
            outline: 1px solid #83A440;
            outline-offset: 2px;
            stroke: #fff;
        }
        &:active{
            stroke: #688B05;
            border: none;
        }
    }   
    &__log-in svg{
        transition: .3s;
        &:hover {
            stroke: #91AC46;
        }
        &:focus-visible{
            outline: 2px solid #83A440;
            stroke: #fff;
        }
        &:active{
            stroke: #688B05;
            border: none;
        } 
    }
}

.hero{
    padding-top: 115px;
    padding-bottom: 115px;
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 60px;

    &:after{
        content: "";
        background-image: url(../images/hero.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
        box-sizing: border-box;
    }
    &__row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        max-width: 60%;
    }
    &__title{
        margin: 0 0 22px;
        font-family: $Cormorant;
        font-weight: 700;
        font-size: 60px;
        line-height: 100%;
        color: #fff;
    }
    &__desc{
        font-family: $openSans;
        margin: 0 0 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        > *:first-child{
            margin-top: 0;
        }
        > *:last-child{
            margin-bottom: 0;
        }
        }
    &__link{
        display: flex;
        align-items: center;
        width: max-content;
        font-weight: 700;
        font-size: 16px;
        color: #bae249;
        transition: color .3s;
        &:hover{
            color: #91AC46;
        }
    }
    &__link svg{
        margin-left: 8px;
        fill: #BAE249;
    }
}
.hero__link svg:hover{
    fill: #91AC46;
}
.hero__link svg:focus-visible{
    fill: #91AC46;
    outline: 1px solid #83A440;
    outline-offset: 2px;
}
a{
    text-decoration: none;
}
.gallery__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.card:not(:last-child){
    margin-right: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    border: 1px solid #0b1919;
    height: 493px;
    background-color: #1d2f30;
    &__img{
        background-color: #0B1919;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 30px 15px;
        height: 120px;
        &-cyrcle{
            position: absolute;
            left: 19px;
            top: 16px;
            border: 1px solid #899d9d;
            border-radius: 100%;
            width: 24px;
            height: 24px;
            font-family: $Cormorant;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #899d9d;
        }
    }
    &__content{
        box-sizing: border-box;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 16px 24px
    } 
    &__title{
        margin: 0 0 8px;
        font-family: $Cormorant;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
    }
    &__desc{
        max-width: 100%;
        margin: 0 0 14px;
        font-family: $openSans;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #899D9D;
        p{
            margin: 0;
        }
    }
    &__button{
        display: block;
        margin-top: auto;
    }
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #bae249;
    padding: 20px 59px;
    width: 145px;
    height: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #bae249;
    transition: .3s;
    &:hover{
        border-color: #bae249;
        color: #0b1919;
        background-color: #bae249;
    }
    &:focus-visible {
        outline: #83a440 solid 1px;
        outline-offset: 2px;
    }
    &:disabled {
        border-color: #899d9d;
        color: #899d9d;
        background-color: transparent
    }
    &:active{
        border-color: #688b05;
        color: #0b1919;
        background-color: #688b05
    }
    
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
    &__text{
        margin: 0 30px;
        font-family: $Cormorant;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #fff;
    }
}
.arrow__left svg{
    fill: #899D9D;
}
.arrow__right svg{
    fill: #899D9D;
}
.arrow__right svg:hover{
    fill:#BAE249;
}
.arrow__right svg:focus-visible {
    outline: 1px solid #83A440;
    fill:#899D9D;
}
.arrow__right svg:active{
    fill:#688B05;
}
.wrapper__container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-height: 493px;
}
.about{
    margin-bottom: 60px;
    &__image{
        img{
        max-width: 825px;
        }
    }
    &__title{
        font-family: $Cormorant;
        font-style: italic;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        color: #fff;
    }
    &__card{
        background-color: #BAE249;
        box-sizing: border-box;
        align-self: stretch;
        padding: 16px 16px 24px;
        max-width: 255px;
 
    }


    &__subtitle{
        margin: 0 0 8px 0;
        font-family: $Cormorant;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
    }
    &__desc{
        margin: 0;
        font-family: $openSans;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #506829;
        p{
            margin: 0;
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }
    &__link{
        display: flex;
        align-items: center;
        width: max-content;
        font-family: $openSans;
        color:#0B1919;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        margin-top: 75px;
        transition: color .3s;
    
        svg{
            margin-left: 8px;
            &:hover{
                fill: #91AC46;
            }
        }
        &:hover{
            color: #91AC46;
        }
        &:focus-visible{
            fill: #91AC46;
            outline: 1px solid #83A440;
        }
    }
}
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
    position: relative;
    box-sizing: border-box;

    &:after{
        content: "";
        background-image: url(../images/contact-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
        box-sizing: border-box;
    }
    &__row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        max-width: 60%;
    }

    &__title{
        font-family: $Cormorant;
        font-style: italic;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        color: #fff;
        margin: 0 0 16px;
    }
    &__desc{
        font-family: $openSans;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        margin: 0 0 24px;
        > *:first-child{
            margin-top: 0;
        }
        > *:last-child{
            margin-bottom: 0;
        }
    }
}
.contact__form {
    width: 350px;
    display: flex;
    flex-direction: column;
}
.form__input{
    box-sizing: border-box;
    padding: 10px 16px;
    display: block;
    margin-bottom: 24px;
    outline: none;
    border: 1px solid #fff;
    width: 100%;
    height: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #899D9D;
    background-color: #fff;
    transition: background-color .3s;
    cursor: pointer;
    &:hover{
        border: 1px solid #899D9D;
        background-color: #899D9D;
        &::placeholder{
            color: #fff;
        }
    }
    &:focus-visible{
        outline: 1px double #bae249;
        outline-offset: 2px
    }
    &:active{
        border-color: #899D9D;
        background-color: #899D9D;
        &::placeholder{
            color: #0B1919;
        }
    }
}
.form-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #bae249;
    padding: 20px 59px;
    max-width: 145px;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #0B1919;
    transition: .3s;
    background-color: #bae249;
    cursor: pointer;
    &:hover{
        border-color: #91AC46;
        color: #0b1919;
        background-color: #91AC46;
    }
    &:focus-visible {
        outline: #83a440 solid 1px;
        outline-offset: 2px;
    }
    &:disabled {
        border-color: #899d9d;
        color: #899d9d;
        background-color: transparent;
    }
    &:active{
        border-color: #91AC46;
        color: #0b1919;
        background-color: #91AC46;
    }
}
.footer{
    background-color: #0B1919;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    &__list{
        margin: 16px 0 16px 0;
        padding: 0; 
        list-style: none;
        display: flex;
        gap: 30px;
        transition: .3s;
        a{
            text-decoration: none;
        }

    }
    &__icon{
        svg{
            fill: #899D9D;
        }
        svg:hover{
            fill: #BAE249;
        }
        svg:focus-visible{
            fill: #899D9D;
            outline: 1px solid #83A440;
            outline-offset: 2px;
        }
        svg:active{
            fill: #688B05;
        }
    }
}
.copyright{
   text-align: center;
   color: #899D9D;
}

@media (max-width:1100px){
    .container{
        padding: 0 30px;
    }
    .gallery__card{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        width: 30%;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
@media (max-width:1024px){
    .container{
        padding: 0 30px;
    }
    .gallery__card{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        width: 29%;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .wrapper__container{
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
    }
    .header__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 80px;
        margin-right: 0;
        width: 100%;
    }
    .hero__row{
        max-width: 100%;
    }
    .about__card{
        width: 100%;
        max-width: 100%;
    }
    .about__title{
        margin: 0 0 30px 0;
    }

}
@media (max-width:920px){
    .container{
        padding: 0 30px;
    }
    .card{
        width: 45%;
    }
}
@media (max-width:768px){
    .hero__title{
        font-size: 48px;
    }
    .hero__desc{
        display: none;
    }
    .card{
        width: 45%;
    }
    .contact__desc{
        display: none;
    }

}
@media (max-width:699px){
    .card{
        width: 100%;
    }
    .card__content p{
        width: 100%;
    }
    .header__menu{
        justify-content: flex-start;
        padding-left: 30px;
    }
}
@media (max-width:576px){
    .menu__list{
        flex-wrap: wrap;
        gap: 10px;
        width: 50%;
    }
    .menu__item + .menu__item{
        margin-left: 0;
    }
}
@media (max-width:420px){
    .hero__title{
        margin-top: 30px;
    }
    .form__input{
        width: 80%;
    }

}
